* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f9fa;
  color: #474749;
  padding: 10px;
  text-align: right;
}

/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #1c9a49, #00306e, #011f2a,#29b17b);
  border-bottom-style: solid;
  border-color: #999966;
  /*background-color: #dadce0;*/
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f8f9fa;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #dadce0;
  color: #474749;
}

div.flex-container {
  display: flex;
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.menuSidebar {
  flex: 20%;
  background-color: #f8f9fa;
  padding: 5 px;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #f8f9fa;
  border: none;
  color: #80898d;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 18%; 
  height:50px;
}

.btn:hover {
  color: #474749;
  background-color: #dadce0;
}

.statusSidebar {
  display: flex;
  flex-wrap: wrap;
  flex: 90%;
  background-color: #fafafa;
  justify-content: space-around; /* Distributes items with space between them */
  gap: 9px; /* Adds space between the boxes */
  padding: 9px;
}

.statusFaultBox {
  flex: 1; /* Allows each box to grow and shrink equally */
  background-color: #f8f9fa;
  font-size: 36px;
  color: #FF3131;
  padding: 36px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #FF3131;
  border-radius: 8px;
  height: auto;
}

.statusWarningBox {
  flex: 1; /* Allows each box to grow and shrink equally */
  background-color: #f8f9fa;
  font-size: 36px;
  color: #FFCB2E;
  padding: 36px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #FFCB2E;
  border-radius: 8px;
  height: auto;
}

.statusInternetBox {
  flex: 1; /* Allows each box to grow and shrink equally */
  background-color: #f8f9fa;
  font-size: 36px;
  color: #A7C7E7;
  padding: 36px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #A7C7E7;
  border-radius: 8px;
  height: auto;
}

.statusVerifiedBox {
  flex: 1; /* Allows each box to grow and shrink equally */
  background-color: #f8f9fa;
  font-size: 36px;
  color: #009E60;
  padding: 36px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #009E60;
  border-radius: 8px;
  height: auto;
}

.statusBox {
  flex: 1; /* Allows each box to grow and shrink equally */
  background-color: #f8f9fa;
  color: white;
  padding: 47px;
  text-align: center;
  border-radius: 8px;
  height: auto;
}

.mainContent {
  flex: 60%;
  background-color: #dadce0;
  padding: 40 px;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  .row, div.flex-container {
    flex-direction: column;
  }

  .btn {
    width:18%; 
    height:65px;
  }

}
